/* Theme */


/**
*   SAVE BUTTON
*/
.md-button.md-fab.save-button{
    right: 4%;
    position: fixed;
    top: 93px;
}

/**
*   FORM
*/

.eits-paper-sheet-item {
    min-width: 900px;
    max-width: 900px;
}


/*
*   CID
*/

.cidInfo span:nth-child(2)  {
    font-weight: bold;
    margin-right: 25px;
}

.menu-left > .md-button {
   text-align: left;
}


.header-list {
    text-align: left;
}


