/* Theme */


/**
*   SAVE BUTTON
*/
.md-button.md-fab.save-button{
    right: 4%;
    position: fixed;
    top: 93px;
}

/**
*   FORM
*/

.eits-paper-sheet-item {
    min-width: 900px;
    max-width: 900px;
}


/*
*   CID
*/

.cidInfo span:nth-child(2)  {
    font-weight: bold;
    margin-right: 25px;
}

.menu-left > .md-button {
   text-align: left;
}


.header-list {
    text-align: left;
}



/**TESTE*/
/* Theme */
.border {
    border : #DDDDDD 1px solid;
    padding: 20px 20px 20px 20px;
}

.toast {
    background-color : #000;
    border           : solid 1px #000;
    color            : #fff;
    font-weight      : bold;
    margin           : 0 auto;
    position         : fixed;
    box-shadow       : none;
}

.toast.red {
    background-color : #f5a69a;
    border-color     : #d77a6c;
    color            : #872818;
}

.toast.green {
    color            : #30503d;
    background-color : #66c08b;
    border-color     : #3d9260;
}


.toast.yellow {
    color            : #8b550c;
    background-color : #f0ad4e;
    border-color     : #ee9d31;
}

.detail {
    margin: 20px 20px 20px 20px;
}

.detail label {
    font-weight: 600;
}

.table tbody tr:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

.side-nav-index-item-selected {
    background : #ECECEC;
}



